html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('FAQ-Pic.png') no-repeat center top fixed;
    background-size: auto 50%;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.white-box {
    position: relative;
    text-align: left;
    z-index: 3;
    background-color: white;
    padding: 10px; 
    width: 50%;
    height: 75%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
   
    
}





.icon {
    margin-right: 10px; 
    vertical-align: middle;
}


.white-box img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}



.white-box h1 {
    margin: 0;
    font-size: 3em; 
}

.white-box .content .pg1,
.white-box .content .pg2,
.white-box .content .pg3,
.white-box .content .pg4 {
    font-size: 1.5em; 
    font-weight: bold;
    margin-bottom: 40px; 
}




.white-box .content .question-container {
    margin-bottom: 20px; 
    cursor: pointer; 
}

.white-box .content .question {
    font-size: 1.5em; 
    font-weight: bold;
    margin-bottom: 10px; 
}

.white-box .content .answer {
    font-size: 1.2em; 
    margin-top: 10px; 
}










