html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('FAQ-Pic.png') no-repeat center top fixed;
    background-size: auto 50%;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    width: 35%;
    height: 50%;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.white-box h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: black;
    position: relative;
    z-index: 2; 
}













